@import "tailwindcss";

@theme {
  --color-navy:       #080e1c;
  --color-blue-sky:   #1098f7;
  --color-blue-light: #7899ce;
}

body {
  background: #080e1c;
  color: white;
  font-family: var(--font-lexend), Arial, sans-serif;
  font-weight: 300;
}
